Registration

<form [formGroup]="form" (ngSubmit)="saveUser()">
  <ul class="form-style-1">
    <li>
      <label>Username<span class="required">*</span></label>
      <input type="text" [formControl]="form.controls['username']" required name="field1" class="field-long"/>
    </li>

    <li>
      <label>Name<span class="required">*</span></label>
      <input type="text" [formControl]="form.controls['name']" required name="field3" class="field-long"/>
    </li>

    <li>
      <label>Email<span class="required">*</span></label>
      <input type="email" [formControl]="form.controls['email']" required name="field3" class="field-long"/>
    </li>

    <li>
      <label>City</label>
      <input type="text" [formControl]="form.controls['city']" name="field3" class="field-long"/>
    </li>

    <li>
      <label>Ride on group?</label>
      <div style="display: flex; justify-content: space-between">
        <div *ngFor="let entry of rideOnGroupOptions; let idx = index">
          <input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [checked]="(idx === 0)"
                 [value]="entry.id">
          <span>{{entry.description}}</span>
        </div>
      </div>
    </li>

    <li>
      <label>Days of week</label>
      <div style="display: flex; justify-content: space-between">
        <div *ngFor="let option of daysOfWeek">
          <label>
            <input type="checkbox"
                   name="options"
                   value="{{option.value}}"
                   (change)="option.checked = !option.checked"/>
            {{option.value}}
          </label>
        </div>
      </div>
    </li>

    <li>
      <input type="submit" [disabled]="form.invalid" value="Save"/>
      <input type="button" (click)="clearFields()" value="Discard"/>
    </li>
  </ul>
</form>
