<div class="float-end">
  <app-search-user [allUsers]="allUsers"></app-search-user>
</div>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>E-mail</th>
    <th>City</th>
    <th>Ride in group</th>
    <th>Day of the week</th>
    <th>Posts</th>
    <th>Albums</th>
    <th>Photos</th>
    <th>Remove</th>
  </tr>
  </thead>

  <tr *ngFor="let user of users; let idx = index" class="table-hover">
    <td>{{user['username']}}</td>
    <td>{{user['name']}}</td>
    <td><a href="mailto:{{user['email']}}">{{user['email']}}</a></td>
    <td>
      <a *ngIf="user?.address?.geo"
         href="https://www.google.com/maps/search/?api=1&query={{user?.address?.geo?.lat}},{{user?.address?.geo?.lng}}"
         rel="noreferrer">{{user?.address?.city}}</a>
      <span *ngIf="!user?.address?.geo">{{user?.address?.city}}</span>
    </td>
    <td>{{user['rideOnGroup']}}</td>
    <td>
      <span *ngFor="let day of user.daysOfWeek; let idx = index">{{day.value + (idx < user.daysOfWeek?.length - 1? ', ' : '')}}</span>
    </td>
    <td routerLink="/users/{{user.id}}/posts">{{user['posts']?.length}}</td>
    <td routerLink="/users/{{user.id}}/albums">{{user['albums']?.length}}</td>
    <td>{{user['photos']?.length}}</td>
    <td>
      <div class="trash" (click)="removeUser(idx)">
        <fa name="trash"></fa>
      </div>
    </td>
  </tr>
</table>

<app-register (saveUserEmitter)="savedUser($event)"></app-register>
