@import '../../../../sass/mixins/default';
@import '../../../../sass/variables';

@include container-header();

.div-post {
  background-color: $gray-light;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 5px;

  .title {
    min-height: 40px;
    display: flex;
    cursor: pointer;
    span {
      padding-top: 11px;
      padding-left: 10px;
    }
  }
  .body {
    display: inline-grid;
    .comments {
      display: inline-grid;
      .comment {
        display: inline-grid;
        border: 1px solid $black;
        margin: 1% 0;
        padding: 5px;
        border-radius: 5px;
        border-style: dotted
      }
    }
  }
}

.container-header {
  .hr {
    margin: auto 0 auto 5%;
  }
}
