@import '../default.scss';

@mixin disable-button {
  .disable-button {
    cursor: not-allowed;
  }
}

@mixin container-header {
  .container-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-top: -10px;
    .title {
      margin: auto 0;
      span {
        font-size: 20px;
      }
    }
    .hr {
      width: 100%;
      margin: auto 5%;
      background-color: $gray-light;
      height: 2px;
    }
  }
}
