<div class="container">
  <div class="component">
    <i class="fas fa-volleyball-ball fa-2x"></i>
    <div class="text">
      <span>Sport type</span>
      <h3>Cycling</h3>
    </div>
  </div>
  <div class="component">
    <i class="fas fa-trophy fa-2x"></i>
    <div class="text">
      <span>Mode</span>
      <h3>Advanced</h3>
    </div>
  </div>
  <div class="component">
    <i class="fas fa-volleyball-ball fa-2x"></i>
    <div class="text">
      <span>Route</span>
      <h3>30 Miles</h3>
    </div>
  </div>
</div>
